.resume-box{
  .resume-contanier {
    padding: 0 10px;
    float: left;
    width: 100%;
    height: 100%;
    .nav{
      font-size: 18px;
      font-weight: 700;
      color: #765cb3;
      text-align: center;
    }
    .resume-left{
      float: left;
      width: 25%;
      .react{
        width: 150px;
        height:150px;
        margin: 100px auto;
        transform-style:preserve-3d;
        animation:rotate 20s infinite;
        animation-timing-function: linear;
        margin-bottom: 150px;
      }
      .react:nth-child(2){
        animation:rotate 5s infinite;
      }
      .react:nth-child(3){
        animation:rotate 10s infinite;
      }
      .react:nth-child(3){
        animation:rotate 15s infinite;
      }
      .react div{
        position:absolute;
        transition: all .4s;
      }
      div .out_pic{
        width:130px;
        height:130px;
        opacity:0.2;
      }
      @keyframes rotate{
        from{transform: rotateX(360deg) rotateY(360deg);}
        to{transform: rotateX(0deg) rotateY(0deg);}
      }
      .out_frount{
        transform:translateZ(65px);
      }
      .out_back{
        transform:translateZ(-65px);
      }
      .out_left{
        transform:rotateY(90deg) translateZ(65px);
      }
      .out_right{
        transform: rotateY(-90deg) translateZ(65px);
      }
      .out_top{
        transform:rotateX(90deg) translateZ(65px);
      }
      .out_bottom{
        transform: rotateX(-90deg) translateZ(65px);
      }
      .react:hover div .out_pic{
        opacity: 1;
      }
      .react:hover .out_frount{
        transform:translateZ(130px);
      }
      .react:hover .out_back{
          transform:translateZ(-130px);
      }
      .react:hover .out_left{
          transform:rotateY(90deg) translateZ(130px);
      }
      .react:hover .out_right{
          transform: rotateY(-90deg) translateZ(130px);
      }
      .react:hover .out_top{
          transform:rotateX(90deg) translateZ(130px);
      }
      .react:hover .out_bottom{
          transform: rotateX(-90deg) translateZ(130px);
      }
    }
    .resume-center{
      float: left;
      width: 50%;
      min-height: 900px;
      box-shadow: 0px 0px 50px 0px #ccc;
      .nav{
        font-size: 26px;
        font-weight: 700;

      }
      .base-data-box{

      }
      .profess-box{

      }
      .personal-skill-box{

      }
      .work-experience-box{

      }
      .educational-background-box{

      }
      .self-introduction-box{
        
      }
    }
    .resume-right{
      padding: 0 10px;
      float: left;
      width: 25%;
      .react{
        width: 100px;
        height:100px;
        margin: 100px auto;
        transform-style:preserve-3d;
        animation:rotate 20s infinite;
        animation-timing-function: linear;
        margin-bottom: 150px;
      }
      .react:nth-child(2){
        animation:rotate 15s infinite;
      }
      .react:nth-child(3){
        animation:rotate 10s infinite;
      }
      .react:nth-child(3){
        animation:rotate 5s infinite;
      }
      .react div{
        position:absolute;
        transition: all .4s;
      }
      div .out_pic{
        width:130px;
        height:130px;
        opacity:0.2;
      }
      @keyframes rotate{
        from{transform: rotateX(360deg) rotateY(360deg);}
        to{transform: rotateX(0deg) rotateY(0deg);}
      }
      .out_frount{
        transform:translateZ(65px);
      }
      .out_back{
        transform:translateZ(-65px);
      }
      .out_left{
        transform:rotateY(90deg) translateZ(65px);
      }
      .out_right{
        transform: rotateY(-90deg) translateZ(65px);
      }
      .out_top{
        transform:rotateX(90deg) translateZ(65px);
      }
      .out_bottom{
        transform: rotateX(-90deg) translateZ(65px);
      }
      .react:hover div .out_pic{
        opacity: 1;
      }
      .react:hover .out_frount{
        transform:translateZ(130px);
      }
      .react:hover .out_back{
          transform:translateZ(-130px);
      }
      .react:hover .out_left{
          transform:rotateY(90deg) translateZ(130px);
      }
      .react:hover .out_right{
          transform: rotateY(-90deg) translateZ(130px);
      }
      .react:hover .out_top{
          transform:rotateX(90deg) translateZ(130px);
      }
      .react:hover .out_bottom{
          transform: rotateX(-90deg) translateZ(130px);
      }
    }
  }
}


